@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h5,
h6,
span,
p,
a {
  line-height: 100%;
}

.exclude-leading {
  line-height: 140%;
}

.exclude-leading p {
  line-height: 140%;
}
.exclude-leading span {
  line-height: 140%;
}
.exclude-leading a {
  line-height: 140%;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: 0.5 all ease-out;
  border-radius: 8px;
  background: #f8f8f8;
}

.list {
  list-style-type: disc;
  list-style-position: inside;
}

.testimonial-pagination {
  border-radius: 28px;
  background: #272727;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.testimonial-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #4d4d4d;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.testimonial-pagination-bullet-active {
  background-color: #f8f8f8;
  transition: all 0.4s ease-in-out;
}
