@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
span,
p,
a {
  line-height: 100%;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
